header,
main,
footer {
  padding-left: 200px;
}

#map { position:relative; height: 500px; top:0; bottom:0; width:100%; }

.side-nav{
  width: 200px;
}

.dropdown-content li>a, .dropdown-content li>span{
  color: #2196F3;
}

body {
  backgroud: white;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

#credits li,
#credits li a {
  color: white;
}

#credits li a {
  font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
  color: #BCC2E2;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}
